VITE_SUPABASE_URL=https://qorqaunlcptzjdyovlqz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFvcnFhdW5sY3B0empkeW92bHF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3ODk3NTUsImV4cCI6MjA5NTM2NTc1NX0._Kitop243aQ2dEGvcqa77Mm35CJK_qBGgHNnJNwl6sk
